@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: -0.02rem;
    /* line-height: 1.5; */
    color: rgba(255, 255, 255, 0.8);
    background-color: #4c56a1;
}

a {
    color: inherit;
}

h1 {
    font-family: Pacifico;
    font-weight: 900;
    font-size: 3rem;
    font-size: calc(3rem + 0.25vw + 0.5vh);
    margin: 2rem 0 0;
}

.App {
    display: flex;
    min-height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    color: rgba(255, 255, 255, 0.475);
    font-size: 10px;
}

.pageDoc {
    width: 50%;
    height: 50%;
    float: left;
}
.quiz {
    width: 50%;
    height: 50%;
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: fixed;
}
.quiz img {
    width: 100px;
    margin-top: 3rem;
}
.quiz p {
    font-size: calc(1rem + 0.25vw + 0.5vh);
    padding: 0 1.5rem;
}

.progress {
    font-family: monospace;
    background: rgba(255, 255, 255, 0.194);
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.25rem 1rem;
    border-radius: 3px;
}
button {
    text-transform: uppercase;
    margin: 1.5rem;
    border: 2px solid;
    padding: 1rem 2rem 0.9375rem;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    letter-spacing: 2px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.1s;
    font-size: calc(1rem + 0.25vw + 0.5vh);
}

button:hover {
    color: #4c56a1;
    background: rgba(255, 255, 255, 0.8);
}

.startBtn {
    animation: btnAni 1.5s ease-in-out infinite both;
}

@keyframes btnAni {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: liner;
    }
    50% {
        transform: scale(1.04);
        animation-timing-function: liner;
    }
}
.isIdle p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.score {
    position: fixed;
    background: #4c56a1;
    color: rgba(255, 255, 255, 0.808);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    line-height: 1.2;
}
.score div {
    background-color: rgba(240, 248, 255, 0.831);
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
    color: #4c56a1;
    line-height: 1.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}
.score button {
    color: rgba(255, 255, 255, 0.808);
    background: transparent;
}
.score button:hover {
    color: #4c56a1;
    background: rgba(255, 255, 255, 0.808);
    border-color: rgba(255, 255, 255, 0.808);
}
.score span {
    font-size: 5em;
    padding: 10px;
    font-weight: 800;
}

li {
    list-style: none;
}
